Django>=3.2,<4.0
gunicorn==23.0.0
whitenoise
django>=3.2,<4.0  # Adjust based on your Django version
djangorestframework>=3.12.4  # Adjust based on your required version
django-cors-headers>=3.10.1  # Adjust version as needed